{{#if @labs.subscribers}}
    {{subscription_form}}
{{/if}}
{{#if @labs.members}}
    <form data-members-form="subscribe">
        <input data-members-email type="email" required="true"/>
        <button type="submit">Subscribe</button>
        <p data-members-error><!-- error message will appear here --></p>
    </form>
{{/if}}
